fastapi>=0.115.0
uvicorn[standard]>=0.32.0
streamlit==1.31.1
openai>=1.55.0
streamlit-extras==0.4.0
python-dotenv 
plotly
scipy
scikit-learn
faiss-cpu
pyodbc
SQLAlchemy>=2.0.40
kaleido
statsmodels
prophet==1.1.5
statsmodels==0.14.1
tabulate==0.9.0
azure-search-documents==11.4.0